.App {
  text-align: center;
}

.nav-bar img {
  width: 2vw;
  height: 6vh;
}

.nav-bar,
.nav-item {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  width: 20vw;
}

#Home {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  background-image: url("./assets/food.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.food-hightlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-hightlight{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0;
}

.image-hightlight img {
  width: 10vw;
  height: 20vh;
  border-radius: 30vw;
  object-fit: cover;
}